<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charapp.ayuda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="com.charapp.charapp.Utilities.UtilitiesApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_ayuda_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.charapp.charapp.views.LoginActivity"></activity>
        <activity
            android:name="com.charapp.charapp.views.VolunteerProfileActivity"
            android:theme="@style/TransparentStatusBar" />
        <!-- <activity android:name="com.charapp.charapp.TestActivity" /> -->
        <activity
            android:name="com.charapp.charapp.views.ViewMyActivityActivity"
            android:label="@string/title_activity_view_my_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.charapp.charapp.views.CreateActivity"
            android:label="AYUDA"
            />
        <activity android:name="com.charapp.charapp.views.RegisterActivity" />
        <activity android:name="com.charapp.charapp.views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.charapp.charapp.views.EventDetailsActivity"
            android:label="AYUDA"
            android:theme="@style/TransparentStatusBar"/>
        <service android:name="com.charapp.charapp.NotificationService"/>
    </application>

</manifest>